{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <div class="container-fluid p-1 my-2 bg-primary bg-gradient text-black bg-opacity-25">
        <h2 style="text-align:center;"> Your budget at a glance! </h2>
    </div>

<!-- create space for 4 grids -->
    <div class="row row-cols-2">
    <!-- Grid 1 - Create grid for message -->
        <div class="col text-center border border-secondary-subtle p-5">
            {% if percentage < 20 %}
                <p class="text-danger" style="font-size: 20px;">You are saving <strong>{{percentage}}%</strong> of your monthly income. You should try to save more while reducing expenses.</p>
            {% elif percentage >= 20 and percentage < 50 %}
                <p class="text-warning" style="font-size: 20px;">You are saving <strong>{{percentage}}%</strong> of your monthly income. Keep it up!</p>
            {% elif percentage >= 50 and percentage < 80 %}
                <p class="text-primary" style="font-size: 20px;">You are saving <strong>{{percentage}}%</strong> of your monthly income. Great job!</p>
            {% elif percentage >= 80 %}
                <p class="text-success" style="font-size: 20px;">You are saving <strong>{{percentage}}%</strong> of your monthly income. You are doing an excellent job! You deserve to treat yourself from time to time.</p>
            {% endif %}

            <figure>
                <blockquote class="blockquote">
                    <p> Generally you should be saving at least 20% of your monthly income. </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">Investopedia.com</cite>
                </figcaption>
            </figure>

        </div>
    <!-- Grid 2 - Create a summary table -->
        <div class="col text-center border border-secondary-subtle">
            <h3> <u>Summary</u> </h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Income</th>
                        <td>${{salary}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Expenses</th>
                        <td>${{expense}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Saving</th>
                        <td>${{saving}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Percentage of monthly income saved</th>
                        <td>{{percentage}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- Grid 3 - Create grid for line graph -->
        <div class="col text-center border border-secondary-subtle">
            <h3> <u>Your savings over a year =</u> <span class="text-dark" style="background-color:lightgreen;"> ${{yearly_saving}}</span> </h3>
            <img src="data:image/png;base64,{{ line_graph }}" alt="Monthly Savings Graph">
        </div>

    <!-- Grid 4 - Create grid for Pie Chart -->
        <div class="col text-center border border-secondary-subtle">
            <h3> <u>Saving vs Expenses</u> </h3>
            <img src="data:image/png;base64,{{ img_base64 }}" alt="Pie Chart">
        </div>
    </div>

{% endblock %}
