{% extends "layout.html" %}

{% block title %}

    About

{% endblock %}

{% block content %}

    <h3 class="pt-5"> FAQ </h3>

    <p class="h5">What is Trackget?</p>
    <p>Trackget is a budget tracking web application that allows users to track their income, expenses, and savings goals. Users can input their income, expenses, and savings goals, and Trackget will generate charts that is useful to the user on the Trackget dashboard.</p>
    <p class="h5">Does this website store my data?</p>
    <p>No. Data provided by users is not stored in any kind of database server. However, your local browser (Chrome, Microsoft Edge etc.) remembers your input for data visualization (generating charts). User’s data that are stored on browser is automatically erased upon closing the browser.
    </p>
    <p class="h5">Where is this website hosted?</p>
    <p>This website is hosted on <a class="link-opacity-50" href="https://www.pythonanywhere.com/">Pythonanywhere.</a>
    </p>
    <p class="h5">I want to send feedback. Where can I do so?</p>
    <p>You can send feedback, queries, or any other inquiries related to the website to <a class="link-opacity-50" href="mailto:trackgetoffical@gmail.com">trackgetoffical@gmail.com.</a>
    </p>
    <p class="h5">Why can’t I set my expenses higher than my monthly salary?</p>
    <p>Because you shouldn’t spend more than you earn! :)</p>


{% endblock %}
